.form__section {
  display: flex;
  background-color: aqua;
  justify-content: center;
  align-items: center;
  width: 500px;
  padding: 32px 0 32px 0;
}

.form__inputs {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 600px;
  flex-direction: column;
}

.form__button {
  width: 120px;
  height: 32px;
  font-weight: 600;
  border-style: none;
  background-color: rgb(20, 209, 99);
  border-radius: 4px;
}

.form__userLocation {
  gap: 8px;
  background-color: antiquewhite;
}
