.form__section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  padding: 32px 0 32px 0;
}

.form__inputs {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 320px;
  flex-direction: column;
}

.adress__inputs {
  display: flex;
  flex-direction: row;
  gap: 4px;
  flex: 1 2 auto;
}

.form__button {
  width: 120px;
  height: 32px;
  font-weight: 600;
  border-style: none;
  background-color: #fff07c;
  border-radius: 4px;
}
